linepayApi:
	apiBaseUrl: https://sandbox-api-pay.line.me/v1 # https://api-pay.line.me/v1 (production)
	channelId: 1423937359
	channelSecretKey: be3bb11472016440c752f3c72a7a6ed2

extensions:
	linepayApi: \HQ\LinepayApi\LinepayApiExtension